
.form-container {
  margin-bottom: 20px;
}

.prompt-preview {
  margin-top: 20px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
}

body {
  background-color: #f0f0f000;
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  height: 100%;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
