.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f0f0f0; /* Light background for contrast */
}

.form-container {
  width: 60%;
  margin: 20px 0;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.prompt-preview {
  background-color: #f7f7f7;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 20px;
}

.prompt-preview h2 {
  margin: 0 0 10px 0;
}

.form-container label {
  display: block;
  margin: 10px 0 5px;
}

.form-container select,
.form-container input {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px; /* Increased margin for better spacing */
  border-radius: 4px;
  border: 1px solid #ccc;
}

.form-container button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #000; /* Black background */
  color: #fff; /* White text */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px; /* Increased margin for better spacing */
}

.form-container button.active {
  background-color: #000; /* Black background for active state */
  color: #fff; /* White text for active state */
}

.form-container button:hover {
  background-color: #333; /* Dark gray background for hover state */
  color: #fff; /* White text for hover state */
}

.surprise-me-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.gender-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.gender-buttons button {
  margin: 0 5px;
  padding: 10px 20px;
  border: none;
  background-color: #000; /* Black background */
  color: #fff; /* White text */
  cursor: pointer;
  border-radius: 4px;
}

.gender-buttons button.active {
  background-color: #333; /* Dark gray background for active state */
  color: #fff; /* White text for active state */
}

.results-container {
  width: 60%;
  margin: 20px 0;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
